body {
    max-width: 1020px;
    margin: 0 auto;
}

.header,
.footer {
    text-align: center;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

@media only screen and (max-width: 375px) {
    .sortShuffledesktop {
        display: none;
    }

    .sortShufflemobile .col-12 {
        width: 35%;
    }

    .sortShufflemobile {
        display: flex;
        justify-content: center;
    }

    #st9:before,
    #st1:before,
    #st2:before,
    #st3:before,
    #st4:before,
    #st5:before,
    #st6:before,
    #st7:before,
    #st8:before {
        content: "";
        height: 100%;
        left: 0px;
        position: absolute;
        top: 0px;
        width: 10px;
        z-index: 1;
    }

    #st1:before,
    #st8:before {
        background-color: rgba(111, 152, 168, 255);
    }

    #st2:before,
    #st4:before {
        background-color: rgba(43, 142, 173, 255);
    }

    #st3:before,
    #st5:before,
    #st9:before {
        background-color: rgba(47, 69, 78, 255);
    }

    #st7:before,
    #st6:before {
        background-color: rgba(191, 191, 191, 255);
    }

    button {
        padding: 30px;
        position: relative;
        text-align: center;
        z-index: 2;
    }

    #st9,
    #st1,
    #st2,
    #st3,
    #st4,
    #st5,
    #st6,
    #st7,
    #st8 {
        background-color: rgba(238, 238, 238, 255) !important;
        margin: 2px 0px;
        color: black;
    }

    body {
        --padding: 10px;
        float: left;
        padding: var(--padding);
        box-shadow: inset 0 0 0 var(--padding) black;
    }
}

@media only screen and (min-width: 960px) {

    /* For desktop: */
    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }

    .sortShufflemobile {
        display: none;
    }

    .sortShuffledesktop {
        display: flex;
        flex-direction: column;
    }
}

.mainWrapper {
    display: flex;
    flex-wrap: wrap;
}

#buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 250px;
}

button {
    padding: 0;
    border: 0;
    box-shadow: none;
    color: white;
}

.shuffleorsort {
    background-color: #72c3dc;
    margin: 0px 10px 10px;
    min-height: 45px;
    cursor: pointer;
}